<launch>
    
    <param name="use_sim_time" value="true"/>
    
    <!-- Change to wherever location you have saved your map -->
    <arg name="map_location" default="/home/marcelo/Desktop/map" />
    
    <!-- Run map server to publish the map -->
    <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(arg map_location).yaml" />

    
</launch>
